name: surveysparrow_flutter_sdk
description: SurveySparrow's flutter SDK lets you collect feedback at various touchpoints from your mobile app users. You can easily embed surveys in your mobile app with a few lines of code.
version: "1.1.2"
homepage: https://github.com/surveysparrow/surveysparrow-flutter-sdk/tree/v1.0.0-beta.2

environment:
  sdk: ">=2.16.1 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_rating_stars: ^1.0.3+4
  http: ^0.13.4
  eval_ex: ^1.1.6
  flutter_svg: ^1.1.3
  flutter_spinkit: ^5.1.0
  country_code_picker: ^3.0.0
  country_pickers: ^2.0.0
  phone_numbers_parser: ^6.0.0
  sizer: ^2.0.15
  easy_debounce: ^2.0.2+1
  url_launcher: ^6.1.1
  readmore: ^2.1.0
  expandable_text: ^2.3.0
  fk_user_agent: ^2.1.0
  ua_client_hints: '>=1.1.0 <1.1.1'
  provider: ^6.0.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
